header {
    display:flex;
    width: 100%;

}

.girls{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
        color: white;
        background: blue;
        transition: background 1s;

      

}
    #ana{
        
    }
    

    #tais{
        
    }
    
    #isadora{
        
    }
    
    #nat{
       
    }
}

